<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-movimientos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">

      <div class="row">
        <h1>Gestor de Saldos</h1>
      </div>

      <div class="row">
        <button on-click="obtenerMovimientos" class="btn btn-success" type="button" name="button">Consulta Saldos de Tarjetas</button>

      </div>
      <div class="row">
      <template is="dom-repeat" items={{movimientos}} as="item2">
         <table width="100%" border="1" bordercolor="#1e90ff" bgcolor="#ffffff" cellspacing="10" cellpadding="10">
          <tbody>

              <tr>
                <td>
                  [[item2.idcliente]]
                </td>
                <td>
                  [[item2.nombre]]
                </td>
                <td>
                  [[item2.apellido]]
                </td>
              </tr>

          </tbody>
        </table>
        <br/>
        <template is="dom-repeat" items={{item2.cuentas}}>
          <table width="100%" border="1" bordercolor="#00008b" bgcolor="#ffffff" cellspacing="10" cellpadding="10">
          <tr>
              <td>
                [[item.numcuenta]]
              </td>
              <td>
                [[item.saldo]]
              </td>
          </tr>
         </table>
        </template>

      </template>


      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorMovimientos extends Polymer.Element {
      static get is() { return 'gestor-movimientos'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
    obtenerMovimientos(){
    var request = new XMLHttpRequest();
    //request.open('GET', "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
    request.open('GET', "http://localhost:3001/Movimientos", false);
    request.setRequestHeader("Accept", "application/json");
    request.send();

    //this.clientes = JSON.parse(request.responseText).value;
    this.movimientos = JSON.parse(request.responseText);
    //console.log(this.clientes);
    console.table(this.movimientos);
    }
    insertarClientes(){
      var request = new XMLHttpRequest();
      request.open('POST', "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");

      var nuevoCliente={"CustomerId":"12345", "ContactName":"Karla", "CompanyName":"BBVA"};
      var body= JSON.stringify(nuevoCliente);

      request.send(body);

      this.respuesta = request.responseText;
      console.log(this.respuesta);

    }
    }

    window.customElements.define(GestorMovimientos.is, GestorMovimientos);
  </script>
</dom-module>
