<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="/src/my-app.html">

<dom-module id="login-form">


<template>

<h1> Entra login form Logado: "{{logado}}" </h1>
<template is="dom-if" if="{{!logado}}">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <style>
        :host {
          display: block;
          text-align: center;
        }

      </style>

      <iron-ajax id="hacerLogin"
                 url="http://localhost:3000/apitechu/v5/login"
                 method="POST"
                 handle-as="json"
                 on-response="mostrarResultadoLogin"
                 on-error="mostrarError">

      </iron-ajax>

  <div class="container">

        <div class="row">
          <h1>Login de Clientes</h1>
        </div>

        <div class="row">
          <div class="col-md-12">


          Email: <input type="email" value="{{email::input}}">
          </br>
          Password: <input type="password" value="{{password::input}}">
          <button on-click="logar" class="btn btn-success">Login</button>
          </div>

        </div>


      </div>





</template>

<template is="dom-if" if="{{logado}}">

      <div class="row">
        <span hidden$="{{!logado}}">Bienvenido a la app</span>
        <my-app></my-app>
      </div>

</template>
</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginwApp extends Polymer.Element {
      static get is() { return 'login-form'; }
      static get properties() {
        return {
          email: {
            type: String//,
            //value: 'demopolymer-app'
          },
          password: {
            type: String,

          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
    mostrarResultadoLogin(){
      console.log("1: Llego el resultado");
      console.log(resultado);
      console.log("2: Proceso el resultado");
      this.logado=true;
    }

    logar2(){
      console.log("1: Se ha pulsado el boton de login");
      console.log("Email:" + this.email);
      console.log("Password:" + this.password);
      this.$.hacerLogin.headers.email = this.email;
      this.$.hacerLogin.headers.password = this.password;
      this.$.hacerLogin.generateRequest();

    }

    logar(){
      var request = new XMLHttpRequest();
      request.open('POST', "http://localhost:3000/apitechu/v5/login", false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      request.setRequestHeader("email", this.email);
      request.setRequestHeader("password", this.password);

      //var nuevoCliente={"CustomerId":"12345", "ContactName":"Karla", "CompanyName":"BBVA"};
      //var body= JSON.stringify(nuevoCliente);

      request.send();

      this.respuesta = request.responseText;
      console.log(this.respuesta);
      console.log(request.status);

      if (request.status == 200){
        this.logado=true;

      } else {
        this.logado = false;
      }

    }


    mostrarError(){
      console.log(error);
      this.logado = false

    }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
