<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="tipos-cambio">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">

      <div class="row">
        <h1>Tipos de Cambio EURO</h1>
      </div>

      <div class="row">
        <button on-click="obtenerClientes" class="btn btn-success" type="button" name="button">Obtener TC Referencia al EURO</button>

      </div>
      <div class="row">
        <table width="100%" border="1" bordercolor="#00008b" bgcolor="#ffffff" cellspacing="10" cellpadding="10">
          <tbody>

              <tr>
                <td>
                  MXN
                </td>
                <td>
                  [[clientes.MXN]]
                </td>
              </tr>
              <tr>
              <td>
                CAD
              </td>
                <td>
                  [[clientes.CAD]]
                </td>
              </tr>
              <tr>
                <td>
                  USD
                </td>
                <td>
                  [[clientes.USD]]
                </td>
              </tr>


          </tbody>
        </table>

      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorTcambios extends Polymer.Element {
      static get is() { return 'tipos-cambio'; }
      static get properties() {
        return {
          clientes: {
            type: Object,
            notify: true
          }
        };
      }
    obtenerClientes(){
    var request = new XMLHttpRequest();
    request.open('GET', "https://api.exchangeratesapi.io/latest", false);
    //request.open('GET', "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
    request.setRequestHeader("Accept", "application/json");
    request.send();
    console.log(request.responseText);
    this.clientes = JSON.parse(request.responseText).rates;
    //console.log(this.clientes);

    console.table(this.clientes);

    }

    }

    window.customElements.define(GestorTcambios.is, GestorTcambios);
  </script>
</dom-module>
